@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

#content {
	background-image: url("../images/background_mmmm.png");
}

#description {
	background-color: #585C64;
	border-radius: 1%;
	color: white;
	width: 50%;
	padding:10px;

	position: absolute;
	top: 30%;
	left:5%;
}