<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="author" content="Car Bartolome">
        <meta name="author" content="Simon Que">
        <meta name="author" content="Ian Racoma">
        <link rel="stylesheet" href="../css/base.css">
        <link rel="stylesheet" href="../css/about.css">
        <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">

        <title>About KalendarNiyo</title>
    </head>
    <body>
        {{> navbar}}
        <div class="container-fluid d-flex flex-column text-center" style="height: calc(100% - 74px); background-image: url('images/background_mmmm.png');">
            <div class="description">
                <h2>About KalendarNiyo</h2>
                <p>KalendarNiyo is a collaborative calendar web app.</p>
                <h3>NPM Modules</h3>
                <ul>
                    <li>bcrypt</li>
                    <li>body-parser</li>
                    <li>connect-mongo</li>
                    <li>dotenv</li>
                    <li>express</li>
                    <li>express-session</li>
                    <li>express-validator</li>
                    <li>hbs</li>
                    <li>mongoose</li>
                    <li>multer</li>
                    <li>path</li>
                    <li>session</li>
                    <li>supervisor</li>
                </ul>
                <h3>3rd Party Libraries</h3>
                <ul>
                    <li>Bootstrap</li>
                    <li>JQuery</li>
                    <li>Validator</li>
                </ul>

            </div>

        </div>
    </body>
</html>
