#content {
	background-image: url("../images/background_mmmm.png");
	padding-top: 20px; 
}

#signupform {
	width: 500px;
	height: 400px;
}

#header1 {
	margin-top: 0px;
	margin-bottom: 20px;
}

.sec_head {
	font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
	margin: 0px auto;
	color: #efedeb;
}

.section {
	width: 80%;
	margin: auto;
}

#optional_details {
	margin-top: 20px
}

#required_header {
	margin-bottom: 10px;
}

.input {
	margin-bottom: 10px;
	color: grey;
}

input {
	border: none;
	background-color: #F3F3F3;
	border-radius: 5px;
	width: 100%;
}


#submitbtn {
    width: 150px;
    height: 30px;
}

#signupform {
	width: 500px;
	height: 400px;
}
